@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");

/* FOR THE USER'S POSTS */
/* the div that displays the user's posts*/

.container {
	padding: 30px;
	padding-right: 0px;
}

/* the outside container of the boxes for the posts, which also conatin the post dates */
.postPreview {
	margin: 2%;
	object-fit: cover;
	position: relative;
}

.titleOverlay {
	position: absolute;
	bottom: 0;
	text-align: left;
	background: linear-gradient(
		0deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(255, 255, 255, 0) 100%
	); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	height: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 18px;
	padding: 20px;
	text-align: center;
}

.titleOverlay p {
	text-align: left;
	position: absolute;
	bottom: 0;
	padding-bottom: 15px;
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
}

.postPreview:hover .titleOverlay {
	opacity: 1;
}

/* shows the whole image of a post as it's often the focal point */
.postImg {
	width: 100%;
	height: 100%;
}

/* the date displayed on a post */
.date {
	text-align: left;
	font-size: 14px;
	padding: 10px;
}

/* FOR THE USER'S SIDE BAR PROFILE*/
/* the div for where the side profile is displayed on the side of the screen */
.userProfile {
	background-color: #f0f0f0;
}

/* the buttons displayed on the side profile */
.hobbyButton {
	background-color: #fff;
	color: #111;
	width: 80%;
	height: 50px;
	margin: 10px;
	font-size: 14px;
	border: solid 2px #111;
	border-radius: 5px;
	padding: 2px;
	transition: ease-in 0.2s;
}
.hobbyButton:hover {
	background-color: #111;
	color: #fff;
	font-weight: bold;
}

/* the button that's selected when the user wants to go back to viewing all posts */
.back {
	background-color: transparent;
	border: none;
}

/* FOR UPLOADING A NEW POST: */
/* the div for adding a new post - it is overlayed over the profile screen*/
/* the background of the new post overlay, which makes the background slightly transparent in 
opacity */
.popup-outer {
	padding-left: 350px;
	padding-top: 100px;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

/* the stylings of the upload form itself, which is made scrollable */
.upload {
	top: 0;
	height: 90%;
	width: 75%;
	margin: auto;
	background-color: #fff;
	opacity: 1;
	border-radius: 10px;
	padding: 5%;
	overflow: auto;
	position: relative;
}

/* a button to cancel the process of uploading a new post */
.cancel {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 0px;
	right: 0px;
}

/* the label in the upload post form */
.upload label {
	font-size: 18px;
}

.upload form {
	padding: 5%;
}

/* the input text boxes used in the form - they shouldnt span the length of the entire form*/
.upload form input[type="text"] {
	width: 300px;
	font-size: 18px;
}

.upload button {
	margin: 15px;
}

/* adds some space between items */
br {
	margin: 10px 0;
}

/* the text box where users can enter a post description*/
.description {
	height: 500px;
}

.upload form input[type="radio"] {
	padding: 5%;
}

.userCard {
	background-color: #fff;
	width: 100%;
	height: 150px;
	margin: 0 auto;
	border-radius: 10px;
	position: relative;
	margin-top: 80px;
}

/* the profile picture is a fixed size, and also rounded in shape*/
.profilePicture {
	height: 120px;
	width: 120px;
	border-radius: 75px;
	object-fit: cover;
	top: 0;
	transform: translate3d(-50%, -60%, 0);
	position: absolute;
}

.profileDetail {
	position: absolute;
	bottom: 0;
	padding: 5%;
	text-align: center;
	width: 100%;
}

.hobbyMenu {
	width: 100%;
	height: 60px;
	background-color: #2c2c2c;
	margin-top: 20px;
	padding: 15px;
	padding-right: 25px;
	padding-left: 25px;
	text-align: left;
	color: #fff;
}

.hobbyDropdown select {
	border: none;
	background-color: #2c2c2c;
	color: #fff;
	padding-left: 10px;
	font-size: 18px;
}

/*FOR THE USER'S FEED*/
.postComments,
.feedPost {
	background-color: #fff;
	border-radius: 10px;
	padding: 2% 5%;
	margin: 2% 5%;
}

.profileDetails {
	text-align: left;
	display: flex;
	align-items: center;
	color: #2c2c2c;
	margin-bottom: 12px;
	font-style: italic;
}
.profileDetails:hover {
	font-weight: 600;
	color: #6c7cc0;
	text-decoration: underline;
}

.profilePictureSm {
	height: 40px;
	width: 40px;
	border-radius: 50px;
	object-fit: cover;
	margin-right: 10px;
}

.feedImg {
	max-height: 70vh;
	width: 90%;
	object-fit: cover;
}

.feedInteractions {
	text-align: right;
}

.feedInteractions > * {
	margin-left: 10px;
	color: #787878;
	border: none;
	background-color: transparent;
}

.feedInteractions > *:hover {
	color: #6c7cc0;
}

.postComments {
	height: 100vh;
}

.postComment {
	margin: 20px;
}

.commentContent {
	text-align: left;
	font-size: 18px;
	margin: 15px 50px;
}

.showCommentBtn {
	margin: 12px;
	background-color: transparent;
	border: none;
	font-style: italic;
	font-size: 15px;
	color: #787878;
}

.showCommentBtn:hover {
	text-decoration: underline;
}

.commentContainer {
	max-height: 70vh;
	overflow-y: auto;
}

.commentForm {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

.commentForm input {
	width: 70%;
	padding: 10px 15px;
	background-color: rgba(255, 255, 255, 0.932);
	border-radius: 8px;
}
