/* Manages the CSS for the whole website */

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: "PT Serif", serif;
}

h1 {
	text-align: center;
}

p,
form {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

body {
	background-color: #f8f4e9;
}

.title {
	font-size: 50px;
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%;
}

.defaultContainer {
	align-items: center;
	justify-content: center;
	padding-left: 5%;
	padding-right: 5%;
}

.collectionStart {
	padding-left: 8%;
	padding-right: 40%;
	padding-bottom: 5%;
	text-align: center;
}

button {
	background-color: #0e540d;
	border: none;
	color: white;
	transition-duration: 0.75s;
}

button:hover {
	background-color: #80c476;
}

.startBooking {
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
	width: 50%;
}

.threeContainer {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 10px;
	padding: 5%;
	align-items: center;
	justify-content: center;
}

.containerItem {
	width: 33%;
	padding-right: 5%;
	padding-left: 5%;
	font-weight: bold;
	text-align: center;
}

.container-img {
	max-width: 100%;
	max-height: 100%;
}

.topScrollButton {
	font-size: 20px;
	padding: 15px;
	font-weight: bold;
	width: 20%;
}
