/* Manages the CSS for the whole website */

/* Google font imports that are used throughout the website */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800");

/* GLOBAL STYLES: */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
	font-family: "Karla", serif;
}

h1 {
	text-align: center;
}

p,
form,
label {
	font-size: 22px;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

label {
	display: block;
	font-size: 18px;
	text-align: center;
	padding: 0;
}

body {
	background-color: #f8f4e9;
}

ul {
	list-style: none;
}

li {
	font-family: "Karla", sans-serif;
	font-size: 18px;
}

/* Represents how the bullet point should look for a list item*/
li::before {
	content: "\2022";
	padding-right: 10px;
	color: #0e540d;
}

/* The button colour matches the colour of the menu to make them stand out but also remain consistent
with the general colour scheme of the website */
button {
	background-color: #0e540d;
	border: none;
	color: white;
	transition: 0.4s;
}

button:hover {
	background-color: #80c476;
}

hr {
	color: #e4dcca;
	margin-top: 1%;
	margin-bottom: 1%;
}

/*differs from the hr used elsewhere as it shouldn't take up the full size of a form, and it should
be centered*/
form hr {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

/* CLASSES USED THROUGHOUT: */
/* Used to represent the title on each web page - the title usually matches the name on the menu */
.title {
	font-size: 50px;
	font-weight: 800;
	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%;
}

/* The default padding and sizes for most of the pages */
.homePage,
.defaultContainer {
	align-items: center;
	justify-content: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 2%;
	text-align: center;
}

/* flex container that fits 3 divs onto one line */
.threeContainer {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 10px;
	padding: 10px;
	padding-bottom: 20px;
	justify-content: center;
	align-items: stretch;
}

/* the div that exists within threecontainer */
.containerItem {
	width: 33%;
	padding: 0 2%;
	font-weight: bold;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

/* Represents a list item in 3-column flex div*/
.containerLi {
	width: 33%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 0%;
	text-align: left;
	align-items: center;
}

/* a medium sized image */
.container-img {
	height: 200px;
}

/* a small image that enlarges on hover*/
.container-img-sm {
	display: inline-block;
	height: 150px;
	transition: transform 0.2s;
}
.container-img-sm:hover {
	transform: scale(1.15);
}

.container-img-xs {
	height: 120px;
}

/* a style of button that may frequently be used in the website */
.cshButton {
	font-size: 18px;
	padding: 15px;
	width: 20%;
	border-radius: 10px;
}

/* the default heading is aligned towards the center but this class allows for it to
align towards the left where needed*/
.leftH1 {
	text-align: left;
}

/* used when providing extra information about something but it doesn't need to stand out too much */
.description {
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}

.horizontalAlign {
	display: flex;
	justify-content: space-between;
}

/* HOME PAGE SPECIFIC: */
/* Used as text for the promotional image at the front of the home page */
.promo {
	font-size: 40px;
	font-family: "Karla", sans-serif;
	font-weight: 800;
	padding-right: 30%;
	padding-left: 5%;
	padding-top: 5%;
}

/* Adjusts the placing of the title so the text doesn't clash with a background image */
.homePromo .title {
	padding-left: 5%;
	padding-right: 30%;
}

/* Makes the font white to not clash with the image */
.homePromo p {
	padding: 5%;
	color: #ecedfc;
	font-weight: bold;
}

/* Used for the main div on the home page */
.homePage {
	padding: 5%;
}

/* used when promoting something so it stands out, but also so it can be used as a link*/
/* for the heading part of the promotion */
.clickableHeading {
	border: solid 3px #529447;
	transition-duration: 0.4s;
}
.clickableHeading:hover {
	background-color: #529447;
	color: #ffffff;
}
/* for the link part of the promotion */
.pageLink {
	font-family: "Spectral", serif;
	color: black;
	transition-duration: 0.4s;
	text-decoration: none;
}
.pageLink:hover {
	background-color: #529447;
	color: #ffffff;
}

/* SPECIFIC TO COLLECTION BOOKING: */
/* The button used on the collection booking page */
.collectionStart {
	padding-left: 8%;
	padding-right: 40%;
	padding-bottom: 5%;
	text-align: center;
}

.shopBtn {
	background-color: transparent;
	color: #111;
	font-weight: 700;
}
.shopBtn:hover {
	background-color: transparent;
}

/* This button should stand out a bit more on the page as it is likely a button people 
will look for when they click onto collection booking from the menu */
.startBooking {
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
	width: 200px;
	border-radius: 10px;
}

.formTitle {
	font-size: 35px;
	text-align: left;
	padding: 30px;
	margin-top: 30px;
	padding-bottom: 5px;
	font-weight: 800;
}

.subtitle {
	font-family: "karla", serif;
	font-size: 22px;
	color: #676767;
	text-align: left;
}

/* represents the search bar on the health and safety page */
#filter-items {
	display: inline-block;
	width: 60%;
	padding: 15px 20px;
	background-color: #ffffff;
	font-size: 15px;
}

/*  Represents the warning box that appears depending on the user's search term in the health 
and safety form */
.itemWarnGood,
.itemWarnBad {
	display: flex;
	justify-content: center;
	font-family: "Karla", sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	border-radius: 10px;
}

/* if the user can donate an item the box is green */
.itemWarnGood {
	color: #0e540d;
	border: 3px solid #0e540d;
	background-color: #d9ffd3;
}

/* if the user can't donate an item the box is red */
.itemWarnBad {
	color: #940d0d;
	border: 3px solid #940d0d;
	background-color: #ffb8b8;
}

.instructions {
	font-size: 22px;
	color: #676767;
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80%;
}

.reviewList,
.selectList {
	background-color: #ffffff;
	border: 3px solid #658e4b;
	box-sizing: border-box;
	border-radius: 30px;
	padding: 30px;
	height: 90vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.collectList {
	font-size: 20px;
	padding: 10px;
	margin: 10px 5%;
}
.collectListItem {
	display: flex;
	justify-content: space-between;
	vertical-align: bottom;
	margin: 5% 5% 0% 5%;
}

.quantityBtn {
	width: 30px;
	font-size: 23px;
	margin: 0px 18px;
	border: 2px solid #0e540d;
	border-radius: 50%;
	color: #0e540d;
	background-color: #ffffff;
}

.quantityBtn:disabled {
	color: #a0a0a0;
	border: 2px solid #a0a0a0;
	background-color: #ececec;
}

.quantityInput {
	font-size: 20px;
	width: 50px;
	text-align: center;
	border: 2px solid #0e540d;
	border-radius: 5px;
}

.deleteBtn {
	color: #0e540d;
	background-color: transparent;
}

.deleteBtn:hover {
	color: #529447;
	background-color: transparent;
}

.filledList {
	max-height: 80vh;
	overflow: auto;
}

.toggleRadio {
	height: 40px;
	max-width: 335px;
	max-width: 375px;
	border: 1px solid #0e540d;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	margin: 2%;
	color: #0e540d;
	display: flex;
	font-size: 16px;
}

.selectRadio {
	opacity: 0;
	width: 1px;
	height: 1px;
	border: 0;
}

.selectRadio + label {
	width: 100%;
	line-height: 1;
	text-align: center;
	padding: 12px 22px;
	margin: -1px;
	transition: all 0.3s ease-in-out;
}

.selectionHeading {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	color: #fff;
	background-color: #3e6328;
	margin: -40px;
	margin-bottom: 1px;
	padding: 5%;
}

.selectionHeading h2 {
	flex: 1;
	text-align: center;
}

.selectRadio:focus + label,
.selectRadio:hover + label,
.selectRadio:checked + label {
	background-color: #2c5812;
	color: #fff;
	text-decoration: underline;
}

counter {
	background-color: #012400;
	color: #fff;
	border-radius: 50%;
	padding: 0px 7px;
	margin: 0px 2px;
	font-size: 15px;
	text-decoration: none;
}

.itemTypeBtn {
	height: 28vh;
	width: 30vh;
	margin: 10px 10px 10px 0px;
	border-radius: 10px;
	background-color: #fff;
	color: #0e540d;
	border: 3px solid #529447;
	font-size: 20px;
	font-weight: 600;
}

.itemTypeBtn:hover,
.itemTypeBtn:focus {
	color: #fff;
	background-color: #529447;
}

.backBtn {
	background-color: transparent;
}

.backBtn:hover,
.backBtn:focus {
	background-color: transparent;
	color: #0e540d;
}

.submitFormBtn,
.progressFormBtn {
	height: 40px;
	width: 100px;
	border-radius: 25px;
	margin: 2%;
	font-size: large;
}

.submitFormBtn {
	font-weight: 700;
	border-radius: 5px;
}

.collectionForm {
	margin: 0% 10%;
}
.radioGroupLbl,
.collectionForm input,
.collectionForm label,
.collectionRadio {
	display: block;
	text-align: left;
}

.radioGroupLbl,
.collectionForm label {
	font-weight: 600;
	font-size: 18px;
}

.collectionForm input {
	height: 35px;
	font-size: medium;
	margin-bottom: 5px;
	margin-left: 30px;
}

.radioGroupLbl {
	text-align: left;
}

.collectionForm input[type="radio"] {
	display: inline;
	vertical-align: middle;
}

.longInput {
	width: 90%;
}

.reviewList {
	text-align: left;
	margin: 0% 5%;
}

.reviewItem {
	margin-bottom: 15px;
	margin-top: 15px;
}
.reviewItem li,
.reviewItem p {
	text-align: left;
	margin: -15px 5%;
	font-size: 18px;
	font-family: "Montserrat", sans-serif;
}

.reviewItem li {
	margin-bottom: 15px;
}

.successPage {
	margin: 2% 20%;
	padding: 5%;
	text-align: center;
}

.progressBar {
	display: inline-block;
	width: 20%;
	padding: 0 20px;
	padding-top: 30px;
}

.progressLink {
	background-color: transparent;
	color: #444444;
}

.progressLink:hover {
	background-color: transparent;
	text-decoration: underline;
}

.progressLink:disabled {
	pointer-events: none;
}

.currentStep,
.completeStep,
.incompleteStep {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	margin: 0 auto;
	margin-bottom: 10px;
	vertical-align: middle;
	color: #fff;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.currentStep {
	background-color: #80c476;
}

.completeStep {
	background-color: #0e540d;
}

.incompleteStep {
	background-color: #676767;
}

/* SPECIFIC TO THE DONATION FORM: */
/* the background of the fom itself */
.donateForm {
	background-color: #ffffff;
	border: solid 2px #0e540d;
}

/* images used as radio buttons are initially a low opacity and then on hover become clearer */
.donateForm .container-img-sm:hover,
.donateForm .container-img-sm:focus {
	transform: scale(1);
	opacity: 1;
}

.donateForm [type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.donateForm [type="radio"] + img {
	cursor: pointer;
	opacity: 0.6;
}

/* for when an image radio button has been selected */
.donateForm [type="radio"]:checked + img {
	outline: 5px solid #529447;
	opacity: 1;
}

/* for when an image radio button has been selected */
.donateForm [type="radio"]:focus + img {
	opacity: 1;
}

/* for when a regular radio button has been checked */
.donateForm [type="radio"]:checked {
	color: #529447;
}

/* for radio buttons that have not been selected yet*/
.donateForm [type="radio"] + label {
	display: flex;
	align-items: center;
	background-color: #d1e9ce;
	height: 40px;
	width: 90%;
	justify-content: center;
}

/* for when the radio button has been selected */
.donateForm [type="radio"]:checked + label {
	background-color: #2c5812;
	color: #ecedfc;
	box-shadow: none;
}

.donateForm [type="radio"]:hover + label,
.donateForm [type="radio"]:focus + label {
	border: 2px solid #529447;
}

.donateRadio {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
}

.donateForm [type="text"] {
	width: 120%;
	height: 40px;
	font-size: 18px;
}

.donateForm [type="submit"] {
	background-color: #0e540d;
	color: #ecedfc;
	font-weight: bolder;
	font-size: 22px;
	height: 60px;
	width: 140px;
	justify-content: center;
	border-radius: 8px;
}

.donateForm [type="submit"]:hover {
	background-color: #80c476;
}

.formError {
	justify-content: center;
	color: #940d0d;
	border: 3px solid #940d0d;
	margin: 0px 30px;
	background-color: #ffb8b8;
	font-size: 16px;
	font-weight: bold;
}
