/* Manages the CSS for the whole website */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Spectral:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	font-family: "Spectral", serif;
}

h1 {
	text-align: center;
}

p,
form,
label {
	font-family: "Karla", sans-serif;
	font-size: 25px;
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

label {
	display: block;
	font-size: 18px;
	text-align: center;
	padding: 0;
}

body {
	background-color: #f8f4e9;
}

ul {
	list-style: none;
}

li {
	font-family: "Karla", sans-serif;
	font-size: 18px;
}

li::before {
	content: "\2022";
	padding-right: 10px;
	color: #0e540d;
}

hr {
	color: #e4dcca;
	margin-top: 1%;
	margin-bottom: 1%;
}

form hr {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	color: #ecedfc;
}

.title {
	font-size: 50px;
	font-weight: 800;

	padding-top: 5%;
	padding-left: 20%;
	padding-right: 20%;
}

.homePage,
.defaultContainer {
	align-items: center;
	justify-content: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 2%;
	text-align: center;
}

.collectionStart {
	padding-left: 8%;
	padding-right: 40%;
	padding-bottom: 5%;
	text-align: center;
}

.homePromo .title {
	padding-left: 5%;
	padding-right: 30%;
}
.homePromo p {
	padding: 5%;
	color: #ecedfc;
	font-weight: bold;
}

.homePage {
	padding: 10%;
}

.homePage button {
	margin: 10px;
}

button {
	background-color: #0e540d;
	border: none;
	color: white;
	transition-duration: 0.65s;
}

button:hover {
	background-color: #80c476;
}

.startBooking {
	font-size: 25px;
	padding: 10px;
	font-weight: bold;
	width: 50%;
}

.threeContainer {
	display: flex;
	flex-flow: row wrap;
	flex-basis: 10px;
	padding: 10px;
	padding-bottom: 20px;
	justify-content: center;
	align-items: stretch;
}

.containerItem {
	width: 33%;
	padding-right: 2%;
	padding-left: 2%;
	font-weight: bold;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}

.container-img {
	max-width: 90%;
	max-height: 90%;
}

.container-img-sm {
	display: inline-block;
	height: 150px;
	transition: transform 0.2s;
}

.container-img-sm:hover {
	transform: scale(1.15);
}

.topScrollButton {
	font-size: 20px;
	padding: 15px;
	font-weight: bold;
	width: 20%;
}

#filter-items {
	display: inline-block;
	width: 60%;
	padding: 15px 20px;
	background-color: #ffffff;
	font-size: 15px;
}

.containerLi {
	width: 33%;
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 0%;
	text-align: left;
	align-items: center;
}

.item-warn-good,
.item-warn-bad {
	display: flex;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	padding: 10px;
}
.item-warn-good {
	color: #ffffff;
	background-color: #529447;
	border: solid 1px #0e540d;
}

.item-warn-bad {
	color: #ffffff;
	background-color: #d64b4b;
	border: solid 1px #6b1d1d;
}

.left-h1 {
	text-align: left;
}

.sm-p {
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}
.containerItem h2 {
	border: solid 3px #529447;
	transition-duration: 0.4s;
}
.containerItem h2:hover {
	background-color: #529447;
	color: #ffffff;
}

.pageLink {
	font-family: "Spectral", serif;
	color: black;
	transition-duration: 0.4s;
	text-decoration: none;
}
.pageLink:hover {
	background-color: #529447;
	color: #ffffff;
}

.donateForm {
	background-color: #ffffff;
	border: solid 2px #0e540d;
}

.donateForm .container-img-sm:hover,
.donateForm .container-img-sm:focus {
	transform: scale(1);
	opacity: 1;
}

.donateForm [type="radio"] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.donateForm [type="radio"] + img {
	cursor: pointer;
	opacity: 0.6;
}

.donateForm [type="radio"]:checked + img {
	outline: 5px solid #529447;
	opacity: 1;
}

.donateForm [type="radio"]:checked {
	color: #529447;
}

.donateForm [type="radio"] + label {
	display: flex;
	align-items: center;
	background-color: #d1e9ce;
	height: 40px;
	width: 90%;
	justify-content: center;
}

.donateForm [type="radio"]:checked + label {
	background-color: #529447;
	color: #ecedfc;
	font-weight: bolder;
	box-shadow: none;
}

.donateForm [type="radio"]:focus + label {
	border: 2px solid #529447;
}

.donateRadio {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 35px;
	padding-right: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
}

.donateForm [type="text"] {
	width: 120%;
	height: 40px;
	font-size: 18px;
}

.donateForm [type="submit"] {
	background-color: #0e540d;
	color: #ecedfc;
	font-weight: bolder;
	font-size: 22px;
	height: 60px;
	width: 140px;
	justify-content: center;
	border-radius: 8px;
}

.donateForm [type="submit"]:hover {
	background-color: #80c476;
}

.formError {
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
}

.homePage {
	padding: 5%;
}
