<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.rhul.zhac024.final_year_project.letter_tracing_interface">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/learnletterslogo"
        android:label="Let&apos;s Learn Letters!"
        android:roundIcon="@mipmap/learnletterslogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lettertracinginterface">
        <activity
            android:name=".LetterWriting"
            android:exported="false" />
        <activity
            android:name=".LetterSelectionMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>