.header {
	height: 60px;
	background-color: #f0f0f0;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
}

.header button {
	margin: 10px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	background-color: #7f7f7f;
	border: none;
	padding: 0px 10px;
	color: #fff;
	opacity: 70%;
}

.header .logout {
	background-color: #c92929;
}

.header .edit {
	background-color: transparent;
	color: #7f7f7f;
}

.header button:hover {
	opacity: 100%;
}
