/* stylesheet for the header menus that are displayed at the very top of the page */
/* places the header at the top of the page, even after scrolling it will stay at the top*/
.header {
	height: 60px;
	padding: 10px;
	padding-left: 0px;
	flex-basis: 5%;
	align-items: center;
	justify-content: space-between;
	float: right;
	position: sticky;
	top: 0;
	z-index: 1;
}

/* the buttons are used with the accent colour of the page theme */
.header button {
	margin: 10px;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	background-color: #7f7f7f;
	border: none;
	padding: 0px 10px;
	color: #fff;
	opacity: 70%;
}

/* the logout button is an exception as it's made red in order to stand out more and to signify that it
will terminate something*/
.header .logout {
	background-color: #c92929;
}

/* the buttons become more opaque on hover */
.header button:hover {
	opacity: 100%;
}

@media (max-width: 700px) {
	/*makes login form wider*/
	.header {
		position: fixed;
		top: 0;
		right: 0;
	}
}
